.top_catalog {
  height: 400px;
  background-image: url(img/catalogheader.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &_h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    font-style: normal;
    color: #FFFFFF;
    margin-top: 127px;
  }
}

.nav_catalog {
  padding-top: 64px;
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &_breadcrumbs {
    list-style-type: none;
    display: flex;
    &_item:not(:last-child)::after {
      content: '/';
      padding-left: 8px;
      padding-right: 8px;
    }
    &_link {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #000000;
      transition: text-decoration .3s;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.select {
  position: relative;
  & select {
    appearance: none;
    background-color: transparent;
    padding: 11px 22px 10px 14px;
    width: 288px;
    height: 41px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    outline: none;
  }
  &::after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
  }
}


/*
.icon {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}
*/